.types {
    border-bottom: 1px solid #313131;
}
.activeRole,
.activeType {
    position: relative;
}
.activeRole::before,
.activeType::before {
    content: "";
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: red;
    width: 5px;
    min-height: 5px;
    border-radius: 50%;
}

.type-select {
    outline: 0;
    border: 0;
    border-radius: 50px;
    padding: 0.3rem 0.8rem;
    background-color: #313131;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms ease;
}
.type-select option {
    background-color: #313131;
    padding: 0.3rem;
    font-size: 15px;
}

#cards-container {
    scroll-behavior: smooth;
}
#cards-container::-webkit-scrollbar {
    display: none;
}

.left-btn,
.right-btn {
    position: absolute;

    z-index: 10;
}

.left-btn > button,
.right-btn > button {
    pointer-events: all;
}

.left-btn {
    top: 0;
    left: 0;
    width: 9%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        black,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0)
    );
    pointer-events: none;
}
.right-btn {
    top: 0;
    right: 0;
    width: 9%;
    height: 100%;
    background-image: linear-gradient(
        to left,
        black,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0)
    );
    pointer-events: none;
}

.out-of-list {
    height: 60vh;
}

@media screen and (max-width: 700px) {
    .right-btn,
    .left-btn {
        width: 13%;
    }
}

@media screen and (max-width: 550px) {
    .right-btn,
    .left-btn {
        display: none;
    }
}
