/* width */
.filter-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 50px;
}

/* Track */
.filter-container::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 50px;
}

/* Handle */
.filter-container::-webkit-scrollbar-thumb {
    background: rgb(105, 105, 105);
    border-radius: 50px;
}

/* Handle on hover */
.filter-container::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

@media screen and (max-width: 580px) {
    .filter-container::-webkit-scrollbar {
        height: 7px;
    }
}
