/* width */
.filter-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 50px;
}

/* Track */
.filter-container::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 50px;
}

/* Handle */
.filter-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Handle on hover */
.filter-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 580px) {
    .filter-container::-webkit-scrollbar {
        display: none;
    }
}
