.home-intro {
    height: 100vh;
    background-image: url("../img/spider-man.jpg");
    background-size: cover;
}
.home-intro::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5),
        black
    );
    pointer-events: none;
    z-index: -1;
}
.home-intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 63%;
    height: 100%;
    background: linear-gradient(
        to right,
        black,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0)
    );
    z-index: -1;
}

.home-intro-content {
    width: 63%;
}

@media screen and (min-width: 860px) {
    .home-intro {
        height: 100vh;
    }
    .home-intro-content {
        width: 70%;
    }
    .home-intro::after {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .home-intro {
        background-position: -110px;
    }
}

@media screen and (max-width: 920px) {
    .home-intro-content {
        width: 80%;
    }
    .home-intro::after {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .home-intro-content {
        width: 85%;
    }
    .home-intro::after {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .home-intro::after {
        width: 90%;
    }
    .home-intro-content {
        width: 90%;
    }
}

@media screen and (max-width: 560px) {
    .home-intro {
        height: max-content;
    }
}
